<h2>Individual Shelter's Page*</h2>

<table class='table table-striped'>
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>City</th>
    <th>Phone</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @shelter.id %></td>
      <td><%= @shelter.name %></td>
      <td><%= @shelter.city %></td>
      <td><%= @shelter.phone %></td>
    </tr>
  </tbody>
</table>

<p>* lack of design is only temporary, forgive me</p>