<!DOCTYPE html>
<html>
<head>
  <title>ShelterHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <%= yield %>
  <a href="/shelters", class='btn btn-primary'>All Shelters</a>
  <a href="/animals", class='btn btn-primary'>All Animals</a>
</div>

</body>
</html>
